{#
  Layout: Stacked
  Full-width banner with vertically stacked elements:
  Logo + title on top, message in the middle, buttons at the bottom.
  Buttons are displayed as full-width stacked blocks.
  Works well as a top or bottom bar.
#}
{% extends "gdpr/base.html.twig" %}

{% block banner %}
<div id="Conzent" tabindex="0" class="conzent-{{ banner_type }}{{ display_position }} cnz-stacked">
  <div class="conzent-inner-content-box" style="border:1px solid {{ colors.notice_border }};background-color:{{ colors.notice_bg }}">
    <div class="conzent-notice">
      <p class="title-wrap" style="color:{{ colors.notice_title }}">{{ logo_html|raw }} [conzent_cookie_notice_banner_title]</p>

      <div class="content-wrap">
        <div class="msg-wrap" style="color:{{ colors.notice_description }}">
          {% if iab|default(false) %}[conzent_iab_notice_description]{% else %}[conzent_cookie_notice_message]{% endif %}
          {{ privacy_policy_link|raw }}
        </div>
        <div class="btn-wrap">
          {{ buttons_html|raw }}
        </div>
      </div>

      <div class="conzent-branding" style="display:flex;justify-content:flex-end;padding:6px 0 0;font-size:11px;opacity:0.7;">
        {{ branding_html|raw }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
